/* for overall document */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    /*ek line me*/
    /*if plce not availble move on next line*/
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    /*ek line me*/
    flex-wrap: wrap;
    /*if plce not availble move on next line*/
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    /* color: #b0413e; */
    background-color: #f2f2c7;
}

.reset-btn {
    padding: 2vmin;
    font-size: 3vmin;
    background-color: #191913;
    color: #ffff;
    border-radius: 0.4rem;
    border: none;
}
.reset-btn2 {
    padding: 2vmin;
    font-size: 3vmin;
    background-color: #191913;
    color: #ffff;
    border-radius: 0.4rem;
    border: none;
}

#Author {
    margin: 4vmin;
    font-size: 3vmin;
    color: rgb(14, 31, 27);
}

#new-btn {
    padding: 2vmin;
    font-size: 3vmin;
    background-color: #191913;
    color: #ffff;
    border-radius: 0.4rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 8vmin;
}

#msg-draw {
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.draw-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
